
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <div class="container d-flex justify-content-between">
        <p><i class="fa-solid fa-triangle-exclamation"></i> This app is running in development mode. Pray for your safety.</p>
        <a href="/devinfo" class="btn btn-link">Further info</a>
    </div>
</div>