<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>3120Project2</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/Navbar-With-Button-icons.css">
</head>

<body>
    <section class="text-white py-4 py-xl-5">
        <div class="container">
            <div class="border rounded border-0 d-flex flex-column justify-content-center align-items-center p-4 py-5" style="background: linear-gradient(rgba(0,123,255,0.2), rgba(0,123,255,0.2)), url(&quot;https://cdn.bootstrapstudio.io/placeholders/1400x800.png&quot;) center / cover;height: 500px;">
                <div class="row">
                    <div class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center">
                        <div>
                            <h1 class="fw-semibold mb-3">Connect Over Music</h1>
                            <p class="mb-4">Music Tracker allows you to record your favorite songs and share with others!</p><button class="btn btn-primary fs-5 me-2 py-2 px-4" type="button">Get Started</button><button class="btn btn-light fs-5 py-2 px-4" type="button">Login</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>